<div style="margin:2.5rem; min-height:25rem;">
   <div style="margin-top:10px;" class="" title="Back">
        <a class="participantButton" ng-reflect-router-link="#" href="#">
           <i class="fa fa-arrow-left" aria-hidden="true" style="color:#343a40;"></i>
        </a>
	</div>
	 
	<div style="margin-top:10px;" class="row">
		 
		<div class="col-sm-3" style="align:left" title="{{fileNameSelected}}">
			<ng-template #customItemTemplate let-model="item" let-index="index">
			    <div title="{{model.name}}" [ngStyle]="{'width': '16rem'}">
			    	<div style="float:left;" [innerHTML]=  
			    	     "((model.name.length > 20) ? ((model.name | slice:1:17) + '...') : (model.name)) | highlight:fileNameSelected">
			    	</div>
                    <div style="float:right;"> {{model.count}} </div>
			    </div>
			</ng-template>
			<input [(ngModel)]="fileNameSelected"
			       [typeahead]="fileDataSource"
			       (typeaheadLoading)="changeTypeaheadLoading($event)"
			       (typeaheadOnSelect)="fileNameOnSelect($event)"
			       [typeaheadItemTemplate]="customItemTemplate"
			       [typeaheadScrollable]="true"
       			   [typeaheadOptionsInScrollableView]="10"
       			   [typeaheadWaitMs]="300"
			       placeholder="Search for file names"
			       class="form-control">
		</div>

		<div class="col-sm-4" style="align:left">
		    <input type="text" style="width:20rem;" 
		        placeholder="Key in text to search.." 
		        class="form-control" 
		        style="width:15rem;display:inline;"
		        [(ngModel)]="keywordSearch" (ngModelChange)="keywordSearchChange()" /> 
		</div>
	</div>

	<div style="margin-top:2rem;">
        <h5 style="color:#6c757d" class="">Search Result </h5>
        <ag-grid-angular #agGrid 
		    [ngStyle]="{'width':'94%','height':'50vh', 'position':''}" 
		    class="ag-theme-balham" [gridOptions]="gridOptions"
		    [suppressRowClickSelection]="true"
            (cellClicked)= "onColumnSelection(this, $event)" >
		</ag-grid-angular>

	</div>
</div>