.list-group-item:hover {
	color: #ffffff;
	text-shadow:  0 0 1em #337ab7;
	cursor: pointer;
	background-color: #337ab7;
} 

.list-group: {
	position: relative;
	z-index:  200;
} 

.search-icon {
	position: relative;
    margin-left: 13.5rem;
    margin-top: 0.7rem;
    color: #6c757d;
}