<div>
    <div style="height:5vh;">
	   <img src="assets/images/amaris_logo.png" width="150" class="h-100"/>
    </div>    
    <div class="col-sm-12" style="height:70vh;">  
		<section id="main-content" class="h-100">
		    <router-outlet></router-outlet>
		</section>  
	</div>
	 <div style="height:5vh"> 
        <div class="container-footer col-sm-12" [ngStyle]="{'text-align':'center', 'height' : '100%'}">
	        <footer>
	            <h5><p style="margin-top: 3px;">© Copyright 2018 Amaris AI Pvt. Ltd.</p></h5>
	        </footer>    
	    </div>
	</div>
</div>