<nav class="navbar navbar-inverse navbar2" style="background-color: #0c2438;color:white;">
  <div class="container-fluid row">
  	<div style="height:5vh;" class="col-sm-6">
	   <img src="assets/images/amaris_logo.png" width="150" class=""/>
	</div> 
    
    <div class="col-sm-6" style="float: right;text-align: right;">
      <a class="navbar-brand navfont" href="#" style="color:white;">
         <i class="fa fa-file-image-o" aria-hidden="true"></i> Financial Document Management System
      </a>
    </div> 
  </div>
</nav>
 <div class="container-fluid">  
	<section id="main-content">
	    <router-outlet></router-outlet>
	</section>  
</div>