<nav class="navbar navbar-inverse navbar2" style="background-color: #0c2438;color:white;">
  <div class="container-fluid row">
  	<div style="height:5vh;" class="col-sm-6">
	   <img src="assets/images/amaris_logo.png" width="150" class=""/>
	</div> 
    
    <div class="col-sm-6" style="float:right;text-align: right;">
      <a class="navbar-brand navfont" href="#" style="color:white;">
         &nbsp;{{title}} &nbsp;<i class="fa fa-cloud" aria-hidden="true"></i>
      </a>
    </div> 
  </div>
</nav>
<!--
<div class="row" style="margin:20px;">
    <div style="margin: 2rem 1rem 1rem 25rem;font-style:">
        <h2 class="heading">{{app_name}} 
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
          <span style="font-size:1rem;font-style:italic;">&nbsp;Document Management System</span>
        </h2>
    </div>
</div>
-->
 <div class="container-fluid">  
	<section id="main-content">
	    <router-outlet></router-outlet>
	</section>  
</div>