<div class="h-100">
  <div class="col-sm-12" style="border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    border: 1px solid #dee2e6;">
		<ul class="nav nav-tabs" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">Upload Document</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">Search Document</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#references" role="tab" data-toggle="tab">Download Document</a>
		  </li>
		</ul>
		<div class="tab-content h-100" style="max-height:65vh;overflow:scroll;">
		  <div role="tabpanel" class="tab-pane fade h-100 in active show" id="profile" style="border: 1px solid #dee2e6;"> 
               <app-upload-document></app-upload-document>
		  </div>
		  <div role="tabpanel" class="tab-pane fade h-100" id="buzz">TO DO..</div>
		  <div role="tabpanel" class="tab-pane fade h-100" id="references">TO DO..</div>
		</div>
	</div>
     
</div>