<div class="container">
	 
    <div class="row" style="">
        <div style="margin: 1rem 1rem 1rem 20rem;font-style:">
        	  <h2 class="heading">{{title}}  <!--
                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
        	  	<span style="font-size:1rem;font-style:italic;">&nbsp;Document Management System</span> -->
        	  </h2>
        </div>
    </div>
    
    <div  class="row" style="text-align: center;height:13rem;margin-top:3rem;">
		<div class="participant col-md-4 h-100" style="marign:2px;">
		    <p> <strong >Upload</strong> any domain specifc documents to financial datalake</p>
		    <a class="participantButton" ng-reflect-router-link="/dashboard-portal/upload" href="dashboard-portal/upload">
		    	<i _ngcontent-c1="" aria-hidden="true" class="fa fa-upload"></i> Upload Document</a> 
		</div>

	    <div  class="participant col-md-4 h-100" style="marign:2px;">
	        <p> <strong >Search</strong> any keyword or text from domain specific documents</p>
	        <a class="participantButton" ng-reflect-router-link="/dashboard-portal/search" href="dashboard-portal/search">
                <i class="fa fa-search" aria-hidden="true"></i> Search Document
            </a>
	    </div>   

	    <div  class="participant col-md-4 h-100" style="marign:2px;">
	        <p> <strong >Download</strong> documents or keyword specific documents from datalake</p>
	        <a class="participantButton" ng-reflect-router-link="/dashboard-portal/download" href="dashboard-portal/download">
	            <i class="fa fa-download" aria-hidden="true"></i> Download Document
	         </a>
	    </div>
 	 </div>
</div>