<div style="margin:2.5rem; min-height:25rem;">
   <div style="margin-top:10px;" class="" title="Back">
        <a class="participantButton" ng-reflect-router-link="dashboard-portal" href="dashboard-portal">
           <i class="fa fa-arrow-left" aria-hidden="true" style="color:#343a40;"></i>
        </a>
	</div>
	 
	<div style="margin-top:10px;" class="row">
		<div class="col-sm-3" >
             <input type="text" placeholder="Select Finacial Product.." class="form-control" style="width:15rem;"
		    [(ngModel)]="productSearch" (ngModelChange)="filterFinancialProducts()" disabled> 
			 <ul class="list-group" id="download-document-id">
			    <li class="list-group-item" *ngFor="let item of financialProducts; let i = index" (click)="financialProductSelected(item)">
				     {{item.label}} 
				</li>
			</ul>
		</div>
	</div>

	<div style="margin-top:2rem;">
        <h5 style="color:#6c757d" class="">Search Result </h5>
        <ag-grid-angular #agGrid id="download-document-grid"
		    [ngStyle]="{'width':'94%','height':'50vh', 'position':''}" 
		    class="ag-theme-balham" [gridOptions]="gridOptions"
		    [suppressRowClickSelection]="true"
            (cellClicked)= "onColumnSelection(this, $event)" >
		</ag-grid-angular>
	</div>
</div>