<div style="margin:2.5rem; min-height:25rem;">
   <div style="margin-top:10px;" class="" title="Back">
        <a class="participantButton" ng-reflect-router-link="#" href="#">
           <i class="fa fa-arrow-left" aria-hidden="true" style="color:#343a40;"></i>
        </a>
	</div>
	 
	<div style="margin-top:10px;" class="row">
		<div class="col-sm-3" >
             <input type="text" placeholder="Select Domain.." class="form-control" style="width:15rem;"
		    [(ngModel)]="domainSearch" (ngModelChange)="domainSearchChange()"> 
			 <ul class="list-group">
			    <li class="list-group-item" *ngFor="let item of domainList; let i = index" (click)="domainSearchSelected(item)">
				     {{item.label}} 
				</li>
			</ul>
		</div>
	</div>

	<div style="margin-top:2rem;">
        <h5 style="color:#6c757d" class="">Search Result </h5>
        <ag-grid-angular id="download-document-grid"
		    [ngStyle]="{'width':'90%','height':'50vh', 'position':''}" 
		    class="ag-theme-balham"
		    [enableSorting]="true"
            [enableFilter]="true"
		    [rowData]="rowData" 
		    [columnDefs]="columnDefs">
		</ag-grid-angular>

	</div>
</div>